main {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    padding: 0;
    margin: 1em 0;
}

#locationSection {
    margin: 1em;
    padding: 1.5em;
    border: 2px solid var(--darkBlue);
    background-color: var(--lightBlue);
    width: 47%;
}

.locationCon {
    width: 100%;
    max-height: 20em;
    padding: 1em;
    border: 1px solid var(--darkBlue);
    background-color: var(--lighterGrey);
    margin: 1em 0;
    display: flex;
    justify-content: center;
    text-align: center;
}

.locationCon p {
    margin: .5em;
}

#ourLocations {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#boardSection {
    margin: 1em 0;
    padding: 1.5em;
    border: 2px solid var(--darkBlue);
    background-color: var(--lightBlue);
    width: 100%;
}

#ourBoard {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.memberCon {
    width: 47%;
    padding: 1em;
    border: 1px solid var(--darkBlue);
    margin: 1em 0;
    background-color: var(--lighterGrey);
    font-family: Helvetica, sans-serif;
}

.memberCon ul li {
    word-wrap: break-word;
}

.headerCon {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: var(--lighterGrey);
    border: 1px solid var(--darkBlue);
    font-weight: 700;
    color: var(--mediumBlue);
}

h2 {
    margin: 0;
    padding: .5em 0;
    font-size: 1.8rem;
}

.locationImage {
    width: 65%;
    max-height: 100%;
    object-fit: cover;
    border: 1px solid var(--mediumBlack);
}

.locationText {
    width: 35%;
}

#columnCon {
    display: flex;
    flex-direction: column;
    width: 47%;
}

#missionSection {
    width: 100%;
    border: 2px solid var(--darkBlue);
    background-color: var(--lightBlue);
    padding: 1.5em;
    margin: 1em 0
}

#missionText {
    margin: 2em;
    padding: 1em;
    border: 1px solid var(--mediumBlack);
    font-size: 1.1rem;
    background-color: var(--lighterGrey);
    color: var(--darkBlue);
    letter-spacing: 1.6;
}

@media (max-width: 950px) {
    main {
        flex-direction: column;
        align-items: center;
    }
    #locationSection, #columnCon {
        width: 95%;
    }
}
