main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

#locationSection {
    margin: 2em;
    padding: 2em;
    border: 2px solid var(--darkBlue);
    background-color: var(--lightBlue);
    width: 90vw;
}

.locationCon {
    width: 40%;
    padding: 2em;
    border: 1px solid var(--darkBlue);
    background-color: #FFF;
    margin: 2em;
    display: flex;
}

#ourLocations {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#boardSection {
    margin: 2em;
    padding: 2em;
    border: 2px solid var(--darkBlue);
    background-color: var(--lightBlue);
    width: 90vw;
}

#ourBoard {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.memberCon {
    width: 30%;
    padding: 2em;
    border: 1px solid var(--darkBlue);
    margin: 1em;
    background-color: #FFF;
}

.headerCon {
    display: flex;
    justify-content: center;
}

h2 {
    font-weight: 700;
    color: var(--mediumBlue);
    background-color: #FFF;
    padding: 1em;
    font-size: 1.8rem;
    width: fit-content;
    border: 1px solid var(--darkBlue);
}

.locationImage {
    width: 50%;
    max-height: 100%;
    object-fit: cover;
}

.locationText {
    width: 50%;
}
