main {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 95%;
}

.overviewCon {
    border: 1px solid var(--darkBlue);
    background-color: var(--lighterGrey);
}

.transactionCon {
    width: 35%;
}

.returnText {
    font-size: 1.3em;
}

.overview {
    border: 2px solid var(--darkBlue);
    margin: 2em 0;
    padding: 1em 2em;
    background-color: var(--skyblue);
    width: 100%;
    text-align: center;
}

.transactionListSection {
    width: 100%;
    margin: 1em 0;
    padding: 1em;
    border: 2px solid var(--darkBlue);
    background-color: var(--skyblue);
    text-align: center;
}

.transactionList {
    margin-top: 1em;
    padding-top: 1em;
    border-top: 1px solid var(--darkBlue);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.transactionList p {
    margin: .8em;
    background-color: var(--lighterGrey);
    padding: .7em;
    border: 1px solid var(--darkBlue);
}

.transactionFilter {
    margin: 1em;
}

.creditScoreSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid var(--darkBlue);
    width: 35%;
    margin: 2em 0;
    padding: 1em;
    background-color: var(--lighterGrey);
    text-align: center;
}

.creditScore {
    font-weight: 700;
    font-size: 1.2rem;
}

#creditScoreBarCon {
    width: 70%;
    padding-top: 1em;
    background-color: #FFF;
    border: 1px solid var(--mediumBlack);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#creditScoreBar {
    height: 5em;
    width: 10em;
    background-color: #FFF;
    color: #FFF;
    border-top: 1px solid var(--mediumBlack);
    border-right: 1px solid var(--mediumBlack);
    border-left: 1px solid var(--mediumBlack);
    background-size: 10em 10em;
    border-top-left-radius: calc(5em + 1px);
    border-top-right-radius: calc(5em + 1px);
    appearance: none;
    overflow: hidden;
    position: relative;
}

/*Prevents firefox default meter overlay on custom styling*/
#creditScoreBar::-moz-meter-bar {
    opacity: 0;
}

#creditScoreBar::-webkit-meter-bar {
    opacity: 0;
}

#innerCircle {
    border-top-left-radius: calc(3em + 1px);
    border-top-right-radius: calc(3em + 1px);
    border-top: 1px solid var(--mediumBlack);
    border-right: 1px solid var(--mediumBlack);
    border-left: 1px solid var(--mediumBlack);
    height: 3em;
    width: 6em;
    position: absolute;
    background-color: #FFF;
    text-align: center;
    font-weight: 500;
}

#listContainer {
    display: flex;
    justify-content: space-around;
    width: 95%;
    text-align: left;
}

#listContainer h4 {
    margin: .5em 0; 
}

.list {
    width: 45%;
}

#positiveList {
    border: 1px solid var(--mediumBlack);
    background-color: rgb(212, 248, 212);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 2em;
    width: 100%;
}

#negativeList {
    border: 1px solid var(--mediumBlack);
    background-color: rgb(247, 223, 223);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 2em;
    width: 100%;
}

#positiveList li, #negativeList li {
    margin-top: .5em;
    margin-bottom: .5em;
}

#updateReport {
    background-color: var(--lightGrey);
    border: 1px solid var(--darkBlue);
    padding: .1em .5em;
    border-radius: 2px;
    font-weight: 500;
    cursor: pointer;
}

#updateReport:hover, #updateReport:focus {
    background-color: var(--lightBlue);
}

.paperAdSection {
    width: 20%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    border: 2px solid var(--darkBlue);
    background-image: url('../Images/tornPaperImage.jpg');
    background-size: cover;
    padding: 1.5em;
    margin: 2em 0; 
}

.paperAdTextCon {
    min-height: 85%;
    width: 85%;
    padding: 0 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: rgba(228, 216, 216, .8);
    border: 1px solid var(--darkBlue);
}

.paperAdText {
    font-size: 1.5rem;
    margin: .2em;
}

@media (max-width: 950px) {
    main {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .transactionCon, .creditScoreSection {
        width: 75%;
        margin: 0 0 2em 0;
    }
    .paperAdSection {
        width: 75%;
        margin: 1em 0 2em 0;
        min-height: fit-content;
    }
    .paperAdTextCon {
        width: 95%;
        padding: 1em;
    }
}

@media (max-width: 600px) {
    .transactionCon, .creditScoreSection, .paperAdSection {
        width: 100%;
    }
    .overview {
        padding: 1em;
    }
}
