main {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 95%;
}

.transactionCon {
    width: 35%;
}

.returnText {
    font-size: 1.3em;
}

.overview {
    border: 2px solid var(--darkBlue);
    margin: 2em 0;
    padding: 1em;
    background-color: var(--skyblue);
    width: 100%;
    text-align: center;
}

.transactionListSection {
    width: 100%;
    margin: 1em 0;
    padding: 1em;
    border: 2px solid var(--darkBlue);
    background-color: var(--skyblue);
    text-align: center;
}

.transactionList {
    margin-top: 1em;
    padding-top: 1em;
    border-top: 1px solid var(--darkBlue);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.transactionList p {
    margin: .8em;
    background-color: var(--lighterGrey);
    padding: .7em;
    border: 1px solid var(--darkBlue);
}

.transactionFilter {
    margin: 1em;
}

.creditScoreSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid var(--darkBlue);
    width: 35%;
    margin: 2em;
    padding: 1em;
    background-color: var(--lighterGrey);
    text-align: center;
}

.creditScore {
    font-weight: 700;
    font-size: 1.2rem;
}

#creditScoreBarCon {
    width: 70%;
    padding-top: 1em;
    background-color: #FFF;
    border: 1px solid var(--mediumBlack);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#creditScoreBar {
    height: 5em;
    width: 10em;
    appearance: none;
    border-top: 1px solid var(--mediumBlack);
    border-right: 1px solid var(--mediumBlack);
    border-left: 1px solid var(--mediumBlack);
    background-size: 10em 10em;
    border-top-left-radius: calc(5em + 1px);
    border-top-right-radius: calc(5em + 1px);
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#creditScoreBar::after {
    content: '';
    box-sizing: border-box;
    border-top-left-radius: calc(3em + 1px);
    border-top-right-radius: calc(3em + 1px);
    border-top: 1px solid var(--mediumBlack);
    border-right: 1px solid var(--mediumBlack);
    border-left: 1px solid var(--mediumBlack);
    height: 3em;
    width: 6em;
    position: absolute;
    background-color: #FFF;
    text-align: center;
}

#creditScoreBar::-moz-meter-bar {
    opacity: 0;
}

@media (max-width: 950px) {
    main {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .transactionCon, .creditScoreSection {
        width: 100%;
        margin: 0;
    }
}
