:root {
    --skyblue: skyblue;
    --darkBlue: rgb(9, 9, 70);
    --lightGrey: rgb(228, 216, 216);
}

body {
    margin: 0;
    padding: 0;
}

#accountsContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

main {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#bankingSection {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 60%;
    justify-content: center;
    align-items: center;
    padding: 3em;
    background-color: var(--skyblue);
    border: 2px solid var(--darkBlue);
    margin: 1em 3em;
    font-size: 1.2rem;
}

.account-background {
    background-color: var(--lightGrey);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em;
    padding: 0 1em;
}

#accountsNavbar {
    width: 100%;
    margin: 1.5em auto;
    text-align: center;
}

#accountsNavbar a {
    margin: 0 2em;
    text-decoration: none;
    color: var(--darkBlue);
    font-size: 1.3rem;
    font-weight: 500;
}

#accountsNavbar a:hover, #accountNavbar a:focus {
    font-weight: 700;
    text-decoration: underline;
}

#accountsHeader {
    padding: .5em 1em;
    background-color: var(--skyblue);
    border-bottom: 2px solid var(--darkBlue);
}

#accountSection {
    border: 1px solid var(--darkBlue);
    width: 60%;
    padding: 1.5em;
    margin: 1em;
}

#internalSection {
    padding: 1.5em;
    width: 60%;
    border: 1px solid var(--darkBlue);
    margin: 1em;
}

#internalSection select{
    margin-bottom: 15px;
}

#apiAds {
    width: 11%;
    min-height: 450px;
    max-height: 600px;
    display: flex;
    border: 2px solid black;
    background-size: 100%;
    
    text-align: center;
    align-items: center;
    padding: 1em;
    background-color: lightgreen;
    margin: .8em;
    color: #FFF;
    font-size: 2em;
}

footer {
    text-align: center;
    width: 100%;
}

#legalLinks {
    display: flex;
    justify-content: center;
    list-style: none;
    width: 100%;
}

#legalLinks a {
    text-decoration: none;
    margin: 0 1em;
}
