main {
    display: flex;
    justify-content: center;
    width: 90%;
}

#accountsCon {
    align-items: center;
    background-color: var(--lightGrey);
}

#bankingSection {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 70%;
    justify-content: center;
    align-items: center;
    padding: 3em;
    background-color: var(--skyblue);
    border: 2px solid var(--darkBlue);
    margin: 1em 3em;
    font-size: 1.2rem;
}

.account-background {
    background-color: var(--lightGrey);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em;
    padding: 0 1em;
}

#accountSection p {
    margin: .5em 1em;
}

#accountSection a {
    text-decoration: none;
}

#accountSection a:hover, #accountSection a:focus {
    color: var(--darkBlue);
}

#accountSection {
    border: 1px solid var(--darkBlue);
    width: 80%;
    padding: 1.5em 3em;
    margin: 1em;
}

#internalSection {
    padding: 1.5em  3em;
    width: 80%;
    border: 1px solid var(--darkBlue);
    margin: 1em;
}

#internalSection select, #internalSection label, #internalSection input, #tranBtnInternal{
    margin-bottom: 1em;
    font-size: 1.1rem;
}

#tranAmountInternal {
    width: 5em;
}

#apiAds {
    width: 17%;
    height: 600px;
    border: 2px solid black;
    text-shadow: 2px 2px 2px #222;
    text-align: center;
    padding: 1em;
    background-color: lightgreen;
    margin: 2em .8em;
    color: rgb(245, 239, 239);
    font-size: 2em;
}

#apiAdsCon {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#adSmall {
    font-size: .7rem;
}
