.returnText {
    font-size: 1.3em;
}

body {
    background-color: var(--lightGrey);
}

.overview {
    border: 2px solid var(--darkBlue);
    margin: 2em;
    padding: 1em;
    background-color: var(--skyblue);
    width: 35%;
    text-align: center;
}

.transactionListSection {
    width: 35%;
    margin: 1em 2em;
    padding: 1em;
    border: 2px solid var(--darkBlue);
    background-color: var(--skyblue);
    text-align: center;
}

.transactionList {
    margin-top: 1em;
    padding-top: 1em;
    border-top: 1px solid var(--darkBlue);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.transactionList p {
    margin: .8em;
    background-color: var(--lightGrey);
    padding: .7em;
    border: 1px solid var(--darkBlue);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.transactionFilter {
    margin: 1em;
}
