:root {
    --skyblue: skyblue;
    --darkBlue: rgb(9, 9, 70);
    --lightGrey: rgb(228, 216, 216);
    --lightBlue: rgb(216, 236, 247);
    --mediumBlack: #1c1c1c;
} 

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

header {
    width: 100%;
    background-color: var(--skyblue);
    border-bottom: 2px solid var(--darkBlue);
    padding: .8em;
    display: flex;
    justify-content: space-between;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em auto;
}

.navbar a {
    margin: 0 2em;
    text-decoration: none;
    color: var(--darkBlue);
    font-size: 1.3rem;
    font-weight: 500;
}

.navbar a:hover, .navbar a:focus {
    font-weight: 700;
    text-decoration: underline;
}

footer {
    text-align: center;
    width: 100%;
}

.legalLinks {
    display: flex;
    justify-content: center;
    list-style: none;
    width: 100%;
}

.legalLinks a {
    text-decoration: none;
    margin: 0 1em;
}

.logoImg {
    border: 1px solid var(--darkBlue);
    width: 88px;
    height: 72px;
}

.loggedInInfo {
    border: 1px solid var(--darkBlue);
    padding: .2em 1em;
    background-color: var(--lightBlue);
    text-align: center;
}

.logOutBtn, .settingsBtn {
    background-color: var(--lightGrey);
    border: 1px solid var(--darkBlue);
    padding: .1em .5em;
    border-radius: 2px;
    cursor: pointer;
}

.logOutBtn:hover, .settingsBtn:hover,
.logOutBtn:focus, .settingsBtn:focus {
    background-color: #FFF;
}
