:root {
    --skyblue: rgb(154, 207, 228);
    --darkBlue: rgb(9, 9, 70);
    --lightGrey: rgb(228, 216, 216);
    --lighterGrey: rgb(231, 230, 230);
    --mediumGrey: rgb(145, 135, 135);
    --lightBlue: rgb(216, 236, 247);
    --mediumBlack: #1c1c1c;
    --mediumBlue: rgb(17, 17, 139);
    --offWhite: rgb(235, 225, 225);
    --chatBlue: rgb(25, 25, 112);
    --darkBlack: rgb(20, 19, 19);
} 

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Verdana, sans-serif;
    color: var(--darkBlack);
    max-width: 2200px;
    min-height: 100vh;
}

body, select, option {
    background-color: #FFF;
}

img {
    max-width: 100%;
}

button {
    font-family: 'Segoe UI', Verdana, sans-serif;
    color: var(--darkBlack);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

header {
    width: 100%;
    background-color: var(--skyblue);
    border-bottom: 2px solid var(--darkBlue);
    padding-bottom: .8em;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.navbar {
    padding: 1em 0;
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
}

.navbar ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    list-style: none;
}

.navbar li {
    margin: 0 1em;
}

.navbar a {
    text-decoration: none;
    color: var(--darkBlue);
    font-size: 1.3rem;
    font-weight: 500;
}

.navbar a:hover, .navbar a:focus {
    font-weight: 700;
    color: var(--mediumBlue);
}

a.active-link {
    text-decoration: underline;
    text-underline-offset: .3em;
}

.logoImg {
    border: 1px solid var(--darkBlue);
    width: 88px;
    height: 72px;
}

.loggedInInfo {
    border: 1px solid var(--darkBlue);
    padding: .2em 1em;
    background-color: var(--lightBlue);
    text-align: center;
}

.logOutBtn, .settingsBtn, #settingsForm button {
    background-color: var(--lightGrey);
    border: 1px solid var(--darkBlue);
    padding: .1em .5em;
    border-radius: 2px;
    cursor: pointer;
}

.logOutBtn:hover, .settingsBtn:hover,
.logOutBtn:focus, .settingsBtn:focus {
    background-color: var(--offWhite);
}

#settingsDialog {
    width: 500px;
    height: 570px;
    background-color: var(--lighterGrey);
    border: 2px solid var(--darkBlue);
}

#settingsForm h3 {
    align-self: center;
}

#settingsForm {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin-right: 1em;
}

#updateInfoBtn:hover, #closeDialogBtn:hover,
#updateInfoBtn:focus, #closeDialogBtn:focus {
    background-color: var(--lightBlue);
}

#settingsForm input, #settingsForm button {
    margin: 1em 0;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5em;
}

.legalLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: .5em 0 0 0;
    width: 85%;
    border-top: 1px solid var(--darkBlue);
    margin-bottom: 0;
}

.legalLinks li {
    margin: 0 .5em;
}

.legalLinks a {
    text-decoration: none;
}

#chat-container {
    display: flex;
    padding: .5em 1.2em;
    color: white;
    font-weight: bold;
    background-color: var(--chatBlue);
    border: 1px solid var(--mediumBlack);
    right: 2em;
    bottom: 0;
    position: fixed;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#chat-help {
    margin: 0 1em;
}

#open-chat-button {
    background-color: var(--lightGrey);
    border: 1px solid var(--mediumBlack);
    color: var(--mediumBlack);
    font-weight: bold;
    border-radius: 2px;
    padding: .3em .5em;
    cursor: pointer;
}

#open-chat-button:hover, #open-chat-button:focus {
    background-color: var(--lightBlue);
}

#chat-box {
    background-color: var(--lighterGrey);
    padding: 1.5em;
    width: 35vw; 
    max-height: 90vh;
    margin-right: 2em;
    margin-bottom: 3em;
}

#chat-list {
    background-color: #FFF;
    border: 1px solid var(--mediumBlack);
    padding: .8em 5em .8em .2em;
    margin: 1em;
    max-height: 45vh;
    overflow-y: scroll;
}

#chat-list p {
    margin: .2em 0;
}

#close-chat-button {
    font-size: 1.1rem;
    padding: .3em .7em;
    font-weight: bold;
    border: 2px solid var(--mediumBlack);
    background-color: var(--lightGrey);
    cursor: pointer;
}

#chat-button {
    cursor: pointer;
    border-radius: 5px;
    background-color: var(--lightGrey);
    font-weight: bold;
    border: 1px solid var(--mediumBlack);
    padding: .5em .8em;
    margin-left: 1em;
}

#close-chat-button:hover, #close-chat-button:focus,
#chat-button:hover, #chat-button:focus {
    background-color: var(--mediumGrey);
}

#chat-input {
    padding: .5em;
}

@media (max-width: 950px) {
    .navbar {
        margin-right: 1em;
        margin-left: 1em;
    }
    .navbar ul{
        flex-wrap: wrap; 
    }
    .navbar a {
        margin: 0 1em;
    }
    .navbar li {
        margin: 0;
    }
    header {
        padding: 0;
    }
    .logoImg, .loggedInInfo {
        width: 30%;
        max-width: max-content;
        height: max-content;
    }
    h1 {
        width: 40%;
        margin: .2em;
    }
    .navbar ul li {
        width: 50%;
        text-align-last: right;
    }
    #chat-box {
        background-color: var(--lighterGrey);
        padding: 1.5em;
        width: 70vw; 
        max-height: 90vh;
    }
    footer {
        margin-bottom: 3.5em;
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 1.4rem;
    }
    .navbar {
        width: 100%;
        margin: 0;
        padding-bottom: 0;
    }
    .navbar ul{
        flex-direction: column;
        padding: 0;
    }
    .navbar ul li {
        margin: .5em 0;
        width: 100%;
        text-align-last: center;
    }
    #chat-box {
        width: 95vw;
        margin-right: 1em;
    }
    #chat-input {
        width: 95%;
    }
    #chat-container {
        right: 1em;
    }
    #chat-button {
        margin-left: 0;
        margin-top: .5em;
    }
    #chat-list {
        padding: .5em;
        margin: 0 0 .5em 0;
    }
    .legalLinks {
        justify-content: space-around;
        margin-top: 0;
    }
}
