main {
    margin: 2em auto;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

#loginSection {
    padding: 1.2em 1em;
    border: 2px solid var(--darkBlue);
    background: var(--skyblue);
    text-align: center;
    width: 30%;
}

#loginSection input {
    margin: 10px;
}

#loginSection a {
    color: var(--darkBlue);
}

#loginBtn {
    cursor: pointer;
    background-color: var(--lightGrey);
    border: 1px solid var(--darkBlue);
    padding: .4em .8em;
    border-radius: 2px;
    font-weight: bold;
    margin: .8em auto;
}

#loginBtn:hover, #loginBtn:focus {
    background-color: var(--offWhite);
    color: var(--mediumBlue);
}

.offer-section {
    width: 60%;
    background-size: cover;
    background-position: top;
    display: flex;
    align-items: flex-start;
    border: 2px solid var(--darkBlue);
}

#offerImage {
    width: 50%;
    height: 100%;
    object-fit: cover;
}

.offer-title {
    font-weight: bold;
}

.offer-text {
    width: 50%;
    height: 100%;
    border-right: 1px solid var(--darkBlue);
    background-color: var(--lighterGrey);
    padding: 2em;
}

.offer-text li {
    margin: 1em;
}

.offer-text ul {
    margin-bottom: 2.5em;
}

.offer-link {
    text-decoration: none;
    cursor: pointer;
    border: 1px solid var(--darkBlue);
    background-color: var(--mediumBlue);
    color: var(--offWhite);
    padding: .5em 1em;
    font-weight: 700;
    border-radius: 10px;
}

.offer-link:hover, .offer-link:focus {
    background-color: var(--darkBlue);
}

.inputCon {
    display: flex;
    justify-content: flex-end;
    width: 85%;
}

@media (max-width: 950px) {
    main {
        justify-content: space-between;
    }
    #loginSection {
        width: 48%;
        height: fit-content;
    }
    .offer-section {
        width: 48%;
        flex-direction: column;
    }
    #offerImage {
        width: 100%;
    }
    .offer-text {
        width: 100%;
        border-right: none;
        border-bottom: 1px solid var(--darkBlue);
    }
}

@media (max-width: 600px) {
    main {
        flex-direction: column;
        align-items: center;
    }
    #loginSection {
        width: 90%;
        margin-bottom: 2em;
    }
    .offer-section {
        width: 95%;
        flex-direction: column;
    }
}
