#interestRateSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
}

#interestRateInfo {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 1em;
    border-top: 2px solid var(--darkBlue);
    border-bottom: 2px solid var(--darkBlue);
    background-color: var(--lightBlue);
}

.interestRateCon {
    text-align: center;
    padding: 0 .5em;
}

#calculatorSection {
    margin: 1em 3em;
    display: flex;
    justify-content: space-around;
}

#calculatorSection h2 {
    margin-top: 1em;
}

#mortgageDataTable {
    margin: 2em 5em;
    padding: 1em;
    background-color: var(--offWhite);
    border-collapse: collapse;
    text-align: center;
}

#mortgageDataTable caption {
    padding: .5em;
}

#mortgageDataTable td, #mortgageDataTable th {
    padding: 1em;
    margin: .5em;
}

#calculatorForm {
    margin: 0 0 1em 0;
    padding: 1em;
    font-size: 1.2rem;
    border: 1px solid var(--mediumBlack);
    background-color: var(--lighterGrey);
}

#mortgageAmountInput, #downPaymentInput {
    width: 8em;
}

#mortgageRateBtn {
    background-color: var(--mediumBlue);
    color: var(--offWhite);
    border: 1px solid #FFF;
    padding: .3em .7em;
    border-radius: 2px;
    cursor: pointer;
    margin-left: 1em;
    font-weight: bold;
}

#mortgageRateBtn:hover, #mortgageRateBtn:focus {
    background-color: var(--skyblue);
}

.border-bottom {
    border-bottom: 1px solid var(--darkBlue);
}

.border-right {
    border-right: 1px solid var(--darkBlue);
}

#dataTableCon {
    background-color: var(--skyblue);
    border: 1px solid var(--darkBlue);
    width: fit-content;
    padding: .5em 1em;
    width: 100%;
}

#mortgageAdImage {
    border: 1px solid var(--darkBlue);
    width: 100%;
}

#calculatorTableCon {
    display: flex;
    flex-direction: column;
    width: 60%;
}

#mortgageAdCon {
    margin: 1em 2em;
    max-width: 35%;
    max-height: 100%;
    text-align: center;
}

figcaption {
    color: var(--darkBlue);
    font-size: 1.3rem;
}
