:root {
    --skyblue: skyblue;
    --darkBlue: rgb(9, 9, 70);
    --lightGrey: rgb(228, 216, 216);
} 

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

#header {
    text-align: center;
}

#container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em auto;
}

#navbar a {
    margin: 0 2em;
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    font-weight: 500;
}

#navbar a:hover, #navbar a:focus {
    font-weight: 700;
}

main {
    margin: 2em auto;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

#loginSection {
    padding: 20px 15px;
    border: 3px solid var(--darkBlue);
    background: var(--skyblue);
    margin-left: 2vw;
    text-align: center;
    width: 25%;
}

#loginSection input {
    margin: 10px;
}

#adSection {
    width: 65%;
    min-height: 100%;
    background-color:rgb(221, 168, 168);
}

#tabSection {
    display: flex;
    width: 100%;
    height: 8%;
}

.tabCon {
    border: 1px solid var(--darkBlue);
    background: var(--lightGrey);
    width: 20%;
    text-align: center;
    display: grid;
    grid-template-columns: 80% 20%;
    border-top-left-radius: 5px;
}

.tabCloseBtn {
    grid-column: 2/2;
    border: none;
    font-weight: 700;
    background-color: var(--lightGrey);
}

.tabLabel {
    grid-column: 1/1;
}

.tabInput {
    display: none;
}

#ads {
    height: 92%;
    width: 100%;
}

footer {
    text-align: center;
    width: 100%;
}

#legalLinks {
    display: flex;
    justify-content: center;
    list-style: none;
    width: 100%;
}

#legalLinks a {
    text-decoration: none;
    margin: 0 1em;
}

/*CSS for maintenance page*/
#maintenanceContainer {
    display: grid;
    grid-template-columns: 25vw 50vw 25vw;
    grid-template-rows: 25vh 80vh;
    width: 100%;
    height: 100%;
}

#maintenanceBody {
    background: rgb(167, 218, 238);
}

#maintenanceHeader {
    text-align: center;
    grid-column: 2/2;
    grid-row: 1/1
}

#maintenanceImage {
    text-align: center;
    grid-column: 2/2;
    grid-row: 2/2;
}
